<header class="header">
    <div class="container">
        <div class="row flex-justify-between">
            <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start mb-3 mb-sm-0">
                <div class="">
                    <img class="logo" src="{{ site.url }}/assets/img/200x246.png" alt="jeleero logo">
                </div>
            </div>
            <div class="col-12 col-sm-6 flex-justify-end d-flex align-items-center">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-secondary" type="button">Search</button>
                    </div>
                    <input type="text" class="form-control">
                  </div>
            </div>
        </div>
    </div>
</header>